<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         id="WebApp_ID" version="4.0">
    
    <!-- Servlet Mapping for Student Admission Servlet -->
    <servlet>
        <servlet-name>StudentAdmissionServlet</servlet-name>
        <servlet-class>com.student.servlets.AdmissionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentAdmissionServlet</servlet-name>
        <url-pattern>/studentAdmission</url-pattern>
    </servlet-mapping>
    
    <!-- Servlet Mapping for Student Login Servlet -->
    <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.student.servlets.AuthenticationServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
</servlet-mapping>
    
    
</web-app>
